<div class="container">
    <form class="user-form" ng-submit="createIssue()">
        <h2>Create new user</h2>
        <label for="inputTitle" class="sr-only">Title</label>
        <input type="text" class="form-control" placeholder="Title" required autofocus ng-model="issueDetails.title">
        <br>
        Description
        <br>
        <label for="inputDescription" class="sr-only">Description</label>
        <input type="text" class="form-control" placeholder="Email" required autofocus ng-model="userDetails.email">
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="userDetails.password">
        <br>
        <label for="inputAdminFlag" class="sr-only">Admin</label>
        <input type="checkbox" id="inputAdminFlag" class="" ng-model="userDetails.adminFlag"> Admin User

        <br><br>
        <button class="btn btn-sm btn-primary" type="submit">Create</button>

    </form>
</div> 