<div class="container">
    <form class="issue-form form-horizontal" ng-submit="createIssue()">
        <h2>New Issue</h2>
        <input type="text" class="form-control" placeholder="Title" required autofocus ng-model="newIssueDetails.title">
        <br>
        <!--        <label for="description" class="control-label">Description</label>-->
        <textarea class="form-control" placeholder="Add a description for the issue" required autofocus ng-model="newIssueDetails.description">
        </textarea>
        <br>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="formGroupInputSmall">Issue Type</label>
            <div class="col-sm-10">
                <select ng-model="newIssueDetails.issueTypeId" class="form-control">
                    <option ng-repeat="issueType in issueTypes">{{issueType.issueTypeName}}</option>
                </select>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="formGroupInputSmall">Assignee</label>
            <div class="col-sm-10">
                <select ng-model="newIssueDetails.assigneeUserId" class="form-control">
                    <option ng-repeat="user in users">{{issueType.issueTypeName}}</option>
                </select>
            </div>
        </div>

        <br>
        <button class="btn btn-sm btn-primary" type="submit">Create</button>

    </form>
</div> 