<div class="container">
    <form class="issue-form form-horizontal" ng-submit="saveIssue()">
        <h2>{{issueDetails.issueTypeName}} # {{issueDetails.issueNumber}}</h2>
        <input type="text" class="form-control" placeholder="Title" required autofocus ng-model="issueDetails.title">
        <br>

        <textarea class="form-control" placeholder="Add a description for the issue" required autofocus ng-model="issueDetails.description">
        </textarea>
        <br>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="formGroupInputSmall">Created</label>
            <label class="control-label info-label" 
                   for="formGroupInputSmall">
                {{convertTimestamp(issueDetails.reportedTimestamp)}}
                &nbsp;by&nbsp;{{reporterUserName;}}
            </label>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="formGroupInputSmall">Updated</label>
            <label class="control-label info-label" 
                   for="formGroupInputSmall">
                {{convertTimestamp(issueDetails.updatedTimestamp)}}
                &nbsp;by&nbsp;{{updatedByUserName;}}
            </label>
        </div>


        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="formGroupInputSmall">Priority</label>
            <div class="col-sm-10">
                <select required ng-model="issueDetails.priority" class="form-control small_dropdown">
                    <option ng-repeat="priority in priorities">{{priority}}</option>
                </select>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="formGroupInputSmall">Assignee</label>
            <div class="col-sm-10">
                <select required class="form-control small_dropdown"
                        ng-model="issueDetails.assigneeUserId"                 
                        ng-options="user.userId as user.userName for user in users">
                </select>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="formGroupInputSmall">Status</label>
            <div class="col-sm-10">
                <select required 
                        ng-model="issueDetails.status" class="form-control small_dropdown">
                    <option ng-repeat="status in statusList">{{status.status}}</option>
                </select>
            </div>
        </div>

        <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="formGroupInputSmall">Sub Status</label>
                    <div class="col-sm-10">
                        <select ng-model="issueDetails.substatus" class="form-control small_dropdown">
                            <option ng-repeat="substatus in substatusList">{{substatus}}</option>
                        </select>
                    </div>
                </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="formGroupInputSmall">
                <!--                <span ng-disabled="issueDetails.comments.length < 1">No </span>-->
                Comments</label>
            <br>
            <br>
            <div class="comment" ng-repeat="comment in issueDetails.comments">
                <div class="comment_header">
                    {{comment.userName}} at {{convertTimestamp(comment.timestamp)}}
                </div>
                <br>
                <div class="comment_content">
                    {{comment.comment}}
                </div>

            </div>
        </div>

        <textarea class="form-control" placeholder="Add a comment" required autofocus ng-model="newComment">
        </textarea>

        <br>
        <button class="btn btn-sm btn-primary" type="submit">Save</button>

    </form>
</div>