.toplogo{
    vertical-align: middle
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.user-form{
    max-width:500px;
    margin: 0 auto;
}

.issue-form{
    max-width:700px;
    margin: 0 auto;
}

.dialog{
    background: #f8f8f8;
    max-width:500px;
    margin: 0 auto;
    border:#eaeaea solid 1px;
    border-radius: 4px;
    padding:10px;
}

.msgbox{
    max-width:500px;
    text-align: center;
}

.logout-btn{
    margin-top: 10px;
}

.issue-desc{
    height: 80;
}

.option_text{
    color: #cccccc;
}

.small_dropdown{
    max-width: 200px;
}

.info-label{
    color: #23527c;
}

.comment{
    margin:2px;
    background: #f8f8f8;
    border: #eaeaea 1px solid;
    max-width: 600px;
    margin-left:80px;
    border-radius: 2px;
}

.comment_header{
    size:10px;
    color:#269abc;
    padding:4px;
}

.comment_content{
    size:16px;
    color:#0f0f0f;
    padding:4px;
}