.toplogo{
    vertical-align: middle
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.user-form{
    max-width:500px;
    margin: 0 auto;
}

.issue-form{
    max-width:700px;
    margin: 0 auto;
}

.dialog{
    background: #f8f8f8;
    max-width:500px;
    margin: 0 auto;
    border:#eaeaea solid 1px;
    border-radius: 4px;
    padding:10px;
}

.msgbox{
    max-width:500px;
    text-align: center;
}

.logout-btn{
    margin-top: 10px;
}

.issue-desc{
    height: 80;
}

.option_text{
    color: #cccccc;
}

.small_dropdown{
    max-width: 200px;
}