<div class="container">
    <h2>Users</h2>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in userList">
                <td>{{user.userName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.adminFlag}}</td>
                <td>
                    <a href="#/users/{{user.userId}}">view</a>
                </td>
            </tr>
        </tbody>
    </table>
</div> 